@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
:root{
  --verde-principal:rgb(69, 150, 70);
  --amarillo:#e5d620;
  --marron:#97532c;
  --azul:#3d5260;
}

body{
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

h1{
  display: none;
}

ul{
  list-style:none;
    padding:0;
    margin:0;
}

#texto-rigth{
  margin-left: 35%;
}

.bg-verde-principal{
  background-color: var(--verde-principal);
}
.bg-amarillo{
  background-color: var(--amarillo);
}
.bg-marron{
  background-color: var(--marron);
}
.bg-azul{
  background-color: var(--azul);
}
.color-verde-principal{
  color: var(--verde-principal);
}
.color-amarillo{
  color: var(--amarillo);
}
.color-marron{
  color: var(--marron);
}

.logo{
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 50%;
}

.icono-blanco{
  color: whitesmoke;
}
.icono-blanco svg{
  width: 30px;
  height: 30px;
}

.carrito{
  top: 11px !important;
  left:96% !important;
}

.titulo{
  font-family: 'Lemonada';
  font-weight: 700;
  color: var(--verde-principal);
}
.titulo-marron{
  font-family: 'Lemonada';
  font-weight: 700;
  color: var(--marron);
}

.card-producto{
  width: 18rem
}
.card-img-producto{
  height: 404px;
}
.card-descript-product{
  height: 48px;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

#contacto{
  max-width: 90%;
}
.banner{
  width: 94%;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--verde-principal);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(69 150 70 / 25%);
}

footer{
  color: whitesmoke;
}

.foto-alumno img {
  width: 250px;
  height: 250px;
}

.producto-descript{
  min-width: 320px;
  max-width: 112vh;
  
}
.producto-decripcion-detalle{
  padding: 1.5rem;
}
#main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mtb-6{
  margin-top: 2%;
}

.producto-precio{
  font-size: 1.5rem;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 768px) { 
  .contenedor-descript{
    display: flex;
    justify-content: center;
  }
 }

 @media (min-width: 700px) { 
  section #lista-productos{
    max-width: 610px !important;
  }
 }

 @media (min-width: 1600px) {
  .banner{
    width: 64%;
  }
 }