@font-face {
    font-family: "bangn";
    src: url("./../assets/tipografias/bangn___-webfont.woff");
}
@font-face {
    font-family: "rq";
    src: url("rq-webfont.woff");
}



h1,h2{
    font-family: 'bangn', Arial, sans-serif;
    color: #fff;
    
} 

main{
  width: 100vw;
  height: 100vh;    
}

main.index{
  width: 100vw;
  height: 100vh;
  background-image:
  linear-gradient(180deg, #73F4A7 1.31%, #156A8E 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

div.form-floating.mt-3{
    margin:0px 20px;
}

input.form-control{
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    width: calc(100% - 40px);
    color: #fff;
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    resize: none;
}

input:focus.form-control{
    background-color: transparent;
    box-shadow: none;
    color:#fff;
}

label.form-label{
    color:white;
}

.btn-submit{
    width: 120px;
    border: 1px solid  #fff;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.7));
}
/**/
main.del-jugador{
    width: 100vw;
    height: 100vh;
    background-image:
     linear-gradient(204.13deg, rgba(255, 163, 207, 0.21) 5.55%, rgba(219, 130, 204, 0.21) 44.77%, rgba(192, 123, 216, 0.21) 44.78%, rgba(219, 130, 204, 0.21) 44.78%),
     linear-gradient(149.91deg, rgba(65, 225, 237, 0.34) 29.98%, rgba(236, 136, 196, 0.34) 73.96%), 
     linear-gradient(195.98deg, rgba(80, 10, 228, 0.32) 11.47%, rgba(98, 208, 217, 0.32) 62.88%), 
     linear-gradient(19.62deg, #9BF499 11.12%, rgba(96, 167, 140, 0.940077) 38.31%, #5B94B5 60.76%);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .runa-verdad{
    width: 100%;
    height: 100%;
    background-image: url('./../assets/svg/runa_conocimiento.svg');
    background-repeat: no-repeat;
    background-size: contain;
  } 

   .fecha{
    width: 25% !important;
    display: inline;
    border: 1px solid #fff !important;
    margin-top: 53px;
    margin-left: 15px;
  }
  .fecha::after{
    content: "-";
    color:#fff;
  }
.nombre-pj{
  color: black;
  background-image: url('./../assets/svg/encabezado.svg');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: 250px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position-y: -6px;
}